/build/assets
/build/classes
/build/dependency-cahce
/build/exploded-bundles
/build/incremental
/build/libs
/build/manifests
/build/ndk
/build/pre-dexed
/build/res
/build/rs
/build/source
/build/symbols